div.header
  span.header--image
  span.header--text
    | dollar a day
  if (user)
    a.logoutButton(href="/logout")
      | logout

div(class="errorMessage hidden", id="errorMessage")
  span.errorMessageContent#errorMessageContent

div(class="successMessage hidden", id="successMessage")
  span.successMessageContent#successMessageContent
