div.header
  //- span.header--logo
  //-   label(class="fa fa-dollar")
  span.header--image
  span.header--text
    | dollar a day

div(class="errorMessage hidden", id="errorMessage")
  span.errorMessageContent#errorMessageContent

div(class="successMessage hidden", id="successMessage")
  span.successMessageContent#successMessageContent
