div.intro

  span.intro--item__header
      | How it works

  span.intro--item
    label(class="intro--item__desc")
      | 1. Set a savings goal
    label(class="intro--item__icon fa fa-dollar")

  span.intro--item
    label(class="intro--item__icon fa fa-calendar")
    label(class="intro--item__desc")
      | 2. Pick a target date

  span.intro--item
    label(class="intro--item__desc")
      | 3. Receive email alerts
    label(class="intro--item__icon fa fa-bell-o")

  a(href="/login", class="button login-button")
    | login
