if (msg.mode == 'signup')
  span
    label
      | name
    input(type="text", class="form-control", name="user-name", placeholder="Name")

span
  label
    | Email
  input(type="text", class="form-control", name="user-email", placeholder="email address")

span
  label
    | Password
  input(type="password", class="form-control", name="user-password", placeholder="password")
