extends components/base

block append content

  include components/header

  if (user)
    if (user.github.email)
      div.user
        | logged in with github

    include components/dad-form

    include components/goal-list

  else

    include components/intro
