extends components/base

block append content

  include components/header

  if (user)

    include components/existingGoals

    input(type="hidden", value="#{user.id}", id="userId")
    if (user.local.email)
      input(type="hidden", value="#{user.local.email}", id="userEmail")
    if (user.github.email)
      input(type="hidden", value="#{user.github.email}", id="userEmail")
    if (user.google.email)
      input(type="hidden", value="#{user.google.email}", id="userEmail")

    include components/scripts

    script(type="text/javascript").
      dad.main.getExistingGoals();
  else
    include components/intro
