extends components/base

block append content

  include components/header

  form(action="/#{msg.mode}", method="post", class="loginForm")

      if (msg)
        h3.msg= msg.mode

      include components/login-form

      button(type="submit", class="#{msg.mode}")= msg.mode

      if (msg.mode == 'login')
        a(href="/signup", class="signup")
          span(class="fa fa-user")
          label
            | Sign up
      else
        a(href="/login", class="login")
          span(class="fa fa-user")
          label
            | Login

      span.loginScreen--socialIcons

      a(href="/auth/google", class="google")
        span(class="fa fa-google")
        label
          | google

      a(href="/auth/github", class="github")
        span(class="fa fa-github-square")
        label
          | github
